<script>
    // login-register form actions

    let toggle = document.querySelectorAll(".toggle");
    toggle.forEach(function(item) {
        item.onclick = showHide;
    });

    function showHide() {
        let listNumber = this.dataset.list,
            password = document.getElementById("password" + listNumber);
        if (password.value != "") {
            if (password.type === "password") {
                password.setAttribute("type", "text");
                this.classList.add("hide");
            } else {
                password.setAttribute("type", "password");
                this.classList.remove("hide");
            }
        }
    }

    let close = document.querySelectorAll(".close");
    close.forEach(function(item) {
        item.onclick = () => {
            document.querySelector(".alert").style.display = "none"
        };
    });
</script>
</body>

</html>