<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FMS | File Management System</title>
    <link rel="stylesheet" href="/stylesheets/landing-layout.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
    <div class="header-background"></div>
    <div class="header">
        <div class="navbar">
            <nav>
                <div class="logo">
                    <a href="#" class="logo-icon">
                    </a>
                    <h1 class="logo-title">FMS</h1>
                </div>
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    <i class="fas fa-bars"></i>
                </label>
                <ul>
                    <li><a href="/fms.edu.in/users/login">Login</a></li>
                    <li><a href="/fms.edu.in/users/register">Sign up</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <script>
        window.addEventListener("scroll", function() {
            let navbar = document.querySelector(".navbar");
            navbar.classList.toggle("cus-nav", window.scrollY > 0);
        });
    </script>