<%- include ("../../partials/home-layout") %>
    <section>
        <header>
            <h1 class="main-title">My Dashboard</h1>
        </header>
        <div class="container">
            <div class="content">
                <h4>SEMESTER INFO</h4>
                <div class="sub-content">
                    <p class="content-title">Courses</p>
                    <ul class="content-body">
                        <%currentUser.courses.forEach(course => {%>
                            <li class="db-li"><a href="/fms.edu.in/course"><i class="fas fa-angle-double-right"></i>(<%=course.code%>) <%=course.name%></a></li>
                            <%});
                        %>
                    </ul>
                </div>

            </div>
        </div>
    </section>

    <%- include ("../../partials/footer") %>