<%- include ("../partials/home-layout")%>

    <section>
        <header>
            <h1 class="main-title">Course $</h1>
            <p class="path-track"><a href="/fms.edu.in/dashboard">My Dashboard</a><i class="fas fa-chevron-right"></i>My Courses<i class="fas fa-chevron-right"></i><a href="/fms.edu.in/course">Course $</a></p>
        </header>
        <div class="container">
            <div class="content">
                <div class="sub-content">
                    <p class="content-title">Activity</p>
                    <div class="content-body">
                        <div class="content-ps">
                            <div class="t-title">Task Title</div>
                            <div class="t-link"><a href="/fms.edu.in/course/activity">Go to activity</a></div>
                        </div>
                        <div class="content-ps">
                            <div class="t-title">Task Title</div>
                            <div class="t-link"><a href="/fms.edu.in/course/activity">Go to activity</a></div>
                        </div>
                        <div class="content-ps">
                            <div class="t-title">Task Title</div>
                            <div class="t-link"><a href="/fms.edu.in/course/activity">Go to activity</a></div>
                        </div>
                        <div class="content-ps">
                            <div class="t-title">Task Title</div>
                            <div class="t-link"><a href="/fms.edu.in/course/activity">Go to activity</a></div>
                        </div>
                        <p class="note"><span>Note: </span>Submission will be online and only in (.doc) format.</p>
                    </div>

                </div>


            </div>
        </div>

    </section>
    <%- include ("../partials/footer")%>