<h1>Login Successful</h1>
<hr>
<h3>Welcome
    <%= //currentUser.name %>
</h3>
<br>
<hr>
<hr><br>
<a href="/dashboard">Dashboard</a>
<a href="/course">Course</a>
<a href="/profile">Profile</a>
<a href="/editprofile">Edit Profile</a>
<a href="/changepassword">Change Password</a>
<a href="/submission">Submission</a>
<a href="/updates">Updates</a>