<%- include ("../partials/top") %>

    <div class="form-container">
        <div class="form-box">
            <div class="form-title">
                <h1>Login</h1>
            </div>
            <%- include ("../partials/messages") %>
                <form action="/fms.edu.in/users/login" method="POST">
                    <div class="field">
                        <input type="text" name="username" placeholder="Enter username" id="username" required autofocus>
                    </div>
                    <div class="field">
                        <input type="password" name="password" placeholder="Enter password" id="password1" required>
                        <div class="toggle" data-list="1"></div>
                    </div>
                    <div class="field"><input type="submit" value="Login"></div>
                </form>
                <div class="form-suggest">
                    <p>No Account? <a href="/fms.edu.in/users/register">Register</a></p>
                </div>
        </div>
    </div>

    <%- include ("../partials/bottom") %>