<%- include ("../partials/home-layout")%>

    <section>
        <header>
            <h1 class="main-title">Updates</h1>
            <p class="path-track"><a href="/fms.edu.in/dashboard">Dashboard</a><i class="fas fa-chevron-right"></i>Activities<i class="fas fa-chevron-right"></i><a href="/fms.edu.in/updates">Updates</a></p>
        </header>
        <div class="container">
            <div class="content">
                <div class="sub-content">
                    <p class="content-title">Updates</p>
                    <div class="content-body">
                        <div class="content-task">
                            <div class="task-title">Task Title $ is due</div>
                            <ul class="task-options">
                                <li><i class="far fa-clock"></i>Due Date (Friday, 8 April)</li>
                                <li><a href="/fms.edu.in/course"><i class="fas fa-graduation-cap"></i>Course $</a></li>
                            </ul>
                            <div class="task-link"><a href="/fms.edu.in/course/activity/submission">Go to activity</a></div>
                        </div>

                        <!-- Display all tasks sorted in descending order -->

                        <div class="content-task">
                            <div class="task-title">Task Title $ is due</div>
                            <ul class="task-options">
                                <li><i class="far fa-clock"></i>Due Date (Friday, 15 April)</li>
                                <li><a href="/fms.edu.in/course"><i class="fas fa-graduation-cap"></i>Course $</a></li>
                            </ul>
                            <div class="task-link"><a href="/fms.edu.in/course/activity/submission">Go to activity</a></div>
                        </div>

                        <div class="content-task">
                            <div class="task-title">Task Title $ is due</div>
                            <ul class="task-options">
                                <li><i class="far fa-clock"></i>Due Date (Monday, 18 April)</li>
                                <li><a href="/fms.edu.in/course"><i class="fas fa-graduation-cap"></i>Course $</a></li>
                            </ul>
                            <div class="task-link"><a href="/fms.edu.in/course/activity/submission">Go to activity</a></div>
                        </div>
                        <!-- <div class="content-task">
                        <div class="task-title">Task Title $ is due</div>
                        <ul class="task-options">
                            <li><i class="far fa-clock"></i>Due Date (Friday, 3 April)</li>
                            <li><a href="/fms.edu.in/course/id"><i class="fas fa-graduation-cap"></i>Course $</a></li>
                        </ul>
                        <div class="task-link"><a href="/fms.edu.in/course/:cid/activity/:tid/submission">Go to activity</a></div>
                    </div> -->
                    </div>
                </div>
            </div>
        </div>

    </section>

    <%- include ("../partials/footer")%>